*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: "Open Sans", sans-serif;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

.header {
  width: 90%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.header__title {
  font-size: 1.5rem;
  flex: 1;
  text-transform: uppercase;
}

.header__menu {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 1rem;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__btn-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 1rem;
}
/* utilty class */
.btn {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
}
